.estilo{
    border: 0;
    border-radius: 0;
    color: #24282b;
    cursor: pointer;
    font-family: CiscoSansTT Regular,Lato,sans-serif;
    font-size: 14px;
    padding-bottom: 9.5px;
    text-align: center;
}