<body>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script>
		fetch('https://jsonplaceholder.typicode.com/todos/1')
			.catch(error=>console.log('Error consultado datos:'+error))
			.then(response=>response.json())
				.then(console.log);
		
		axios.get('https://jsonplaceholder.typicode.com/todos/2')
			.then(response=>console.log(response.data)).catch(console.log);

		axios.get('https://jsonplaceholder.typicode.com/todos/3')
			.then(({data})=>console.log(data)).catch(console.log);

		async function funcionAsincrona(){
			try{
				var response=await axios.get('https://jsonplaceholder.typicode.com/todos/4');
				console.log(response.data);
			}catch(e){
				console.log("Desde el código:"+e);
			}
		}
		funcionAsincrona();

		(funcionAsincrona2=async ()=>{
			try{
				var response=await fetch('https://jsonplaceholder.typicode.com/todos/5');
				var datos=await response.json();
				console.log(datos);
			}catch(e){
				console.log(e);
			}
		})();

		(async ()=>{
			try{
				var response=await fetch('https://jsonplaceholder.typicode.com/todos/6');
				var datos=await response.json();
				console.log(datos);
			}catch(e){
				console.log(e);
			}
		})();

		console.log('Iniciando peticiones');
	</script>
</body>